{% extends 'base.html' %}
{% block contenido %}

<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title text-center">Ordenes de Servicio</h4>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Total {{total_ordenes_servicio}}</h6>
                    <div class="row">
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_listas_reparar' %}">
                                    <div class="card-body">
                                        <h5 class="text-success">{{total_ordenes_aprobadas_reparacion}} Ordenes</h5>
                                        <h6 class="text-muted">Listas para reparar</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_espera_revision' %}">
                                    <div class="card-body">
                                        <h5 class="text-secondary">{{total_ordenes_espera_revision}} Ordenes</h5>
                                        <h6 class="text-muted">En espera de revisión</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card  ">
                                <a style="text-decoration:none" href="{% url 'ordenes_espera_confirmar_reparacion' %}">
                                    <div class="card-body">
                                        <h5 class="text-warning">{{total_ordenes_espera_confirmar_reparacion}} Ordenes</h5>
                                        <h6 class="text-muted">Espera confir reparación</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_espera_repuestos' %}">
                                    <div class="card-body">
                                        <h5 class="text-info">{{total_ordenes_espera_repuestos}} Ordenes</h5>
                                        <h6 class="text-muted">En espera de repuestos</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_listas_entrega' %}">
                                    <div class="card-body">
                                        <h5 class="text-success">{{total_ordenes_por_entregar}} Ordenes</h5>
                                        <h6 class="text-muted">Pendientes por entregar</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_canceladas' %}">
                                    <div class="card-body">
                                        <h5 class="text-danger">{{total_ordenes_canceladas}} Ordenes</h5>
                                        <h6 class="text-muted">Ordenes canceladas</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card ">
                                <a style="text-decoration:none" href="{% url 'ordenes_reparadas' %}">
                                    <div class="card-body">
                                        <h5 class="text-secondary text-center text-success">{{total_ordenes_reparadas_entregadas}} Ordenes</h5>
                                        <h6 class="text-muted text-center">Reparadas o completadas</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            
                <div class="card shadow p-3 mb-3 bg-body rounded" style="max-width: 540px;">
                    <div class="card-body text-center col-12">
                        <h4 class="text-center text-dark">Acciones Rápidas</h4>
                        <a href="{% url 'buscar_cliente'%}" class="btn btn-outline-success btn-sm m-1 col-6">Crear Orden</a>
                        <br>
                        <a href="{% url 'crear_cliente'%}" class="btn btn-outline-primary btn-sm m-1 col-6">Crear Cliente</a>
                        <br>
                        <a href="{% url 'crear_trabajador'%}" class="btn btn-outline-dark btn-sm m-1 col-6">Crear Trabajador</a>
                        
                    </div>
                </div>
            
            <div class="card shadow p-3 mb-3 bg-body rounded" style="max-width: 540px;">
                <div class="card-header">
                    <h4 class="text-center">Ingresos por Reparaciones</h4>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            
                          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Día</button>
                          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Semana</button>
                          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Mes</button>
                          <button class="nav-link" id="nav-ano-tab" data-bs-toggle="tab" data-bs-target="#nav-ano" type="button" role="tab" aria-controls="nav-ano" aria-selected="false">Año</button>
                        </div>
                      </nav>
                  </div>
                  <div class="card-body">
                   
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active text-center text-success" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><h4><b>{{total_ingresos_dia}} CLP</b></h4></div>
                            <div class="tab-pane fade text-center text-success" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><h4><b>{{total_ingresos_semana}} CLP</b></h4></div>
                            <div class="tab-pane fade text-center text-success" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><h4><b>{{total_ingresos_mes}} CLP</b></h4></div>
                            <div class="tab-pane fade text-center text-success" id="nav-ano" role="tabpanel" aria-labelledby="nav-ano-tab"><h4><b>{{total_ingresos_ano}} CLP</b></h4></div>
                          </div>
                          
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <div class="card shadow p-3 mb-3 bg-body rounded" >
                            <div class="card-body">
                                <h4 class="card-title text-center">Clientes con ordenes pendientes de entrega</h4>
                                <h6 class="card-subtitle mb-2 text-muted text-center">Total {{total_clientes_ordenes_pendientes}}</h6>
                                
                                <ul class="list-group list-group-flush">
                                    {% for cliente in clientes_ordenes_pendientes %}
                                        <li class="list-group-item text-dark"><a class="text-dark" href="{% url 'detalle_cliente' cliente.id %}">{{cliente.nombres}} {{cliente.apellidos}} <b>Teléfono:</b> {{cliente.telefono_principal}}</a></li>
                                    {% endfor %}
                                </ul>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <br>


</div>




{% endblock %}