{% extends 'base.html' %}

{% block contenido %}
<br>
<div class="row justify-content-center">
  <div class="col-md-8 align-items-center">
    <div class="card border-success" >
      <div class="card-header bg-transparent border-success text-success"><h3>Orden de Servicio # {{servicio.id}}</h3></div>
      <div class="card-body">
        <h6 class="card-title"><b>Cliente:</b> {{servicio.cliente.identificacion}} - {{servicio.cliente.nombres}} {{servicio.cliente.apellidos}} <a class="btn btn-outline-info btn-sm" href="{% url 'detalle_cliente' servicio.cliente.id %}">Ver</a> </h6>
        <h6 class="card-title"><b>Fecha de Ingreso:</b> {{servicio.fecha_ingreso}}</h6>
        <h6 class="card-title"><b>Dispositivo:</b> <a href="{% url 'detalle_dispositivo' servicio.dispositivo.id %}"> {{servicio.dispositivo.marca}} {{servicio.dispositivo.modelo_dispositivo}}</a></h6>
        <h6 class="card-title"><b>Color Dispositivo:</b> {{servicio.dispositivo.color_dispositivo}} </h6>
        <h6 class="card-title"><b>Tipo Dispositivo:</b> {{servicio.dispositivo.tipo}}</h6>
        <h6 class="card-title"><b>Problema Inicial:</b> {{servicio.problema_frecuente}}</h6>
        <h6 class="card-title"><b>Observaciones:</b> {{servicio.observaciones}}</h6>
        <h6 class="card-title"><b>Código Desbloqueo:</b> {{servicio.codigo_desbloqueo}}</h6>
        <h6 class="card-title"><b>Fecha Estimada Entrega:</b> {{servicio.fecha_entrega_estimada}}</h6>
        <h6 class="card-title"><b>Valor Revisión:</b> <b class="text-primary">{{servicio.valor_revision}} CLP </b></h6>
        <h6 class="card-title"><b>Valor Total Reparación:</b> <b class="text-warning">{{servicio.valor_total}} CLP</b></h6>
        <h6 class="card-title"><b>Valor del Abono:</b> <b class="text-success">{{servicio.abono}} CLP</b></h6>
        <h6 class="card-title"><b>Saldo Pendiente:</b> <b class="text-danger">{{servicio.saldo_pendiente}} CLP</b></h6>
        <h6 class="card-title"><b>Solución de la Reparación:</b> {{servicio.solucion_final}}</h6>
        <h6 class="card-title"><b>Estado de la Orden:</b> <b class="text-danger">{{servicio.estado_orden}}</b></h6>
        {% if servicio.fecha_cierre_servicio %}
          <h6 class="card-title"><b>Fecha Cierre:</b> {{servicio.fecha_cierre_servicio}}</h6>
        {% endif %}
      </div>
      <div class="card-footer bg-transparent border-success text-center"><b>Acciones Disponibles</b> <br> <br>
        <a class="btn btn-outline-primary btn-sm btn-block mb-3" href="{% url 'imprimir_detalle_servicio' servicio.id %}" target="_blank" role="button"><b>Imprimir Orden</b></a>
        <br>
        <a class="btn btn-outline-dark btn-sm btn-block" href="{% url 'iniciar_trabajo' servicio.id %}" role="button"><b>Trabajar en la Orden</b></a> <br><br>
      
        <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'editar_servicio' servicio.id %}" role="button"><b>Modificar Orden</b></a>
        <a class="btn btn-outline-danger btn-sm btn-block" href="" data-bs-toggle="modal" data-bs-target="#eliminar_servicio" role="button"><b>Eliminar Orden</b></a>
        
      </div>
    </div>
  </div>
</div>

<br>

<!--Modal eliminar servicio-->
<div class="modal" tabindex="-1" id='eliminar_servicio'>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title">Eliminar Servicio {{servicio.id}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que desea eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'eliminar_servicio' servicio.id %}" class="btn btn-danger">Eliminar</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<!--MODAL IMPRIMIR DETALLE-->
<div class="modal"  id='imprimirModal'>
  <div class="modal-dialog modal-fullscreen-md-down">
    <div class="modal-content ">
      
      
        
                <h1><b>{{servicio.tienda.nombre|title}}</b></h1>
                <h6><b>Orden #:</b> {{servicio.id}}</h6>
                <h6><b>Fecha Ingreso: </b>{{servicio.fecha_ingreso}}</h6>
                <h6>---------------</h6>
                <b>Cliente:</b> {{servicio.cliente.identificacion}}
                {{servicio.cliente.nombres}}
                {{servicio.cliente.apellidos}}
                <h6>---------------</h6>
                <h6><b>Dispositivo</b></h6>
                <h6><b>Marca:</b>{{servicio.dispositivo.marca}}</h6>
                <h6><b>Modelo:</b>{{servicio.dispositivo.modelo_dispositivo}}</h6>
                <h6><b>Observaciones:</b> {{servicio.observaciones}}</h6>
                <h6>---------------</h6>
                <h6><b>Problema:</b> {{servicio.problema_frecuente}}</h6>
                <h6><b>Valor Revisión:</b> {{servicio.valor_revision}}</h6>
                <h6><b>Valor Abono:</b> {{servicio.abono}}</h6>
                <h6><b>Fecha Entrega: </b>{{servicio.fecha_entrega_estimada}}</h6>
                <button class="btn btn-light" type="button" onclick="javascript:window.print()">Imprimir</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
     
      
    </div>
  </div>
</div>
{% endblock %}



