{% extends 'base.html'%}

{% block contenido %}
<br>
<div class="container">
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="aler alert-{{ message.tags }}"  role="alert"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}

<div class="row justify-content-md-center mb-2">
  <div class="col-md-6 mb-2">
    <div class="card card-body shadow p-3 mb-5 bg-body rounded">
      <h1 class="text-center">Ordenes de Servicio</h1>
      <h5 class="text-center text-primary">Total: {{total_servicios}}</h5>
      <a class="btn btn-outline-success btn-md mb-1 " href="{% url 'buscar_cliente' %}" role="button">Crear Orden</a> <br>
      <a class="btn btn-outline-success btn-md " href="{% url 'crear_problema_frecuente' %}" role="button">Crear Problema Frecuente</a> <br>
    </div>
  </div>
</div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dispositivo</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Problema</th>
        <th scope="col">Estado Orden</th>
      </tr>
    </thead>
    <tbody>
    {% for servicio in lista_servicios %}
      <tr>
        <th scope="row">{{servicio.id}}</th>
        <td>{{servicio.cliente.nombres}} {{servicio.cliente.apellidos}}</td>
        <td>{{servicio.dispositivo}}</td>
        <td>{{servicio.fecha_ingreso}}</td>
        <td>{{servicio.problema_frecuente}}</td>
        <td>{{servicio.estado_orden}}</td>
        <td><a class="btn btn-outline-info" href="{% url 'detalle_servicio' servicio.id %}" role="button">Ver</a></td>
      </tr>
      
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}