{% extends 'base.html' %}

{% block contenido %}
<br>
<div class="row justify-content-center">
  <div class="col-md-8 align-items-center">
    <div class="card border-success shadow p-3 mb-5 bg-body rounded" >
      <div class="card-header bg-transparent border-success text-success"><h5>Dispositivo {{dispositivo.modelo_dispositivo}}</h5></div>
      <div class="card-body">
        <h6 class="card-title"><b>Serial:</b>   {{dispositivo.serial}}</h6>
        <h6 class="card-title"><b>Imei:</b>   {{dispositivo.imei_principal}}</h6>
        {% if dispositivo.imei_opcional %}
          <h6 class="card-title"><b>Imei:</b>   {{dispositivo.imei_principal}}</h6>
        {% endif %}
        <h6 class="card-title"><b>Dirección Mac:</b> {{dispositivo.direccion_mac}}</h6>
        <h6 class="card-title"><b>Color Dispositivo:</b> {{dispositivo.color_dispositivo}}</h6>
        <h6 class="card-title"><b>Tipo Dispositivo:</b> {{dispositivo.tipo}}</h6>
        <h6 class="card-title"><b>Cliente:</b> {{dispositivo.cliente.identificacion}} - {{dispositivo.cliente.nombres}} {{dispositivo.cliente.apellidos}}</h6>
      </div>
   <a class="btn btn-outline-warning btn-sm btn-block mb-2" href="{% url 'editar_dispositivo' dispositivo.id %}" role="button"><b>Editar dispositivo</b></a>
        <br>
        <a class="btn btn-outline-danger btn-sm btn-block" href="" data-bs-toggle="modal" data-bs-target="#eliminar_dispositivo" role="button"><b>Eliminar dispositivo</b></a>
  </div>
    </div>
  
</div>



     
<!-- Modals -->
<div class="modal" tabindex="-1" id='eliminar_dispositivo'>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title">Eliminar {{dispositivo.marca|title}} {{dispositivo.modelo_dispositivo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'eliminar_dispositivo' dispositivo.id %}" class="btn btn-danger">Eliminar</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
      
      
{% endblock %}



