{% extends 'base.html' %}

{% block contenido %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md">
      {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
      <div class="card card-body mt-2">
        <h4 class="card-title">Trabajador: {{trabajador.perfil.identificacion}} </h4>
        <h5 class="text-primary">{{trabajador.get_full_name|title}}</h5>
        {% if trabajador.perfil.biografia %}
          <p>Bio: {{trabajador.perfil.biografia}}</p>
        {% endif %}
        <span class="mb-2">Fecha Ingreso: {{trabajador.date_joined}}</span>
        <a href="{% url 'editar_trabajador' trabajador.id %}" class="btn btn-outline-info btn-sm btn-block">Actualizar Trabajador</a>
        <a href="{% url 'eliminar_trabajador' trabajador.id %}" class="btn btn-outline-danger btn-sm btn-block mt-1" data-bs-toggle="modal" data-bs-target="#eliminar_trabajador">Eliminar Trabajador</a>
        {% if request.user.perfil.identificacion == trabajador.perfil.identificacion %}
          <a href="#" class="btn btn-outline-dark btn-sm btn-block mt-1" data-bs-toggle="modal" data-bs-target="#actualizar_password">Cambiar Contraseña</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body mt-2">
        <h5 class="card-title">Información de Contacto</h5>
        <p>Email: {{trabajador.email}}</p>
        <p>No. Teléfono: {{trabajador.perfil.telefono}}</p>
        <p>Grupo:</p>
        <ul>
          {% for grupo in trabajador.groups.all %}
            <li>{{grupo.name}}</li>
          {% endfor %}
        </ul>
        <div>Estado:
          {% if trabajador.is_active %}
             <span class="text-success"><b>Activo</b></span>
          {% else %}
            <span class="text-danger"><b>Inactivo</b></span> 
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body mt-2">
        <h5 class="card-title text-center">Total Ordenes de Servicio</h5>
        <h1 class="text-center text-success"><b>{{servicios.count}}</b></h1>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row mt-3">
    <div class="col-md">
      <dic class="card card-body">
        <h4>Ordenes de Servicio</h4>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <br>
              <th scope="col">#</th>
              <th scope="col">Dispositivo</th>
              <th scope="col">Fecha Ingreso</th>
              <th scope="col">Problema</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for servicio in servicios %}
              <tr>
                <th scope="row"><a href="{% url 'detalle_servicio' servicio.id %}">{{servicio.id}}</a></th>
                <td>{{servicio.dispositivo}}</td>
                <td>{{servicio.fecha_ingreso}}</td>
                <td>{{servicio.problema_frecuente}}</td>
                <td>{{servicio.estado_orden}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </dic>
    </div>
  </div>
</div>



<!-- Modals -->
<div class="modal" tabindex="-1" id='eliminar_trabajador'>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title">Eliminar Trabajador {{trabajador.get_full_name|title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'eliminar_trabajador' trabajador.id %}" class="btn btn-danger">Eliminar</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>


<!--Modal password-->
<div class="modal" tabindex="-1" id='actualizar_password'>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header alert alert-warning">
        <h5 class="modal-title">Cambiar Contraseña del Trabajador {{trabajador.get_full_name|title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de cambiar la contraseña?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'editar_password' trabajador.id %}" class="btn btn-danger">Cambiar Contraseña</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

   
{% endblock %}




