{% extends 'base.html' %}

{% block contenido %}



<br> 
<div class="container">


  <div class="row">
    <div class="col-md">
      <div class="card card-body shadow p-3 mb-5 bg-body rounded">   
        <h1 class="card-title text-center mb-2">Trabajadores </h1>
        <a href="{% url 'crear_trabajador' %}" class="btn btn-outline-info btn-sm btn-block my-2">Crear Trabajador</a>
    </div>
    </div>
    <div class="col-md">
      <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h4 class="card-title text-center">Total Trabajadores: </h4>
        <h1 class="text-center text-success">{{total_trabajadores}}</h1>
      </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow p-3 mb-4 bg-body rounded card-body">
        <h5>Filtrar Trabajadores</h5>
        <form method="get">
          <div class="row">
            {% for i in filtros.form %}
              <div class="col">
                {{i}}
              </div>
            {% endfor %}
            <div class="col">
              <button class="btn btn-primary" type="submit">
                Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
      {% for trabajador in lista_trabajadores %}
        <tr>
          <th scope="row">{{trabajador.id}}</th>
          <td>{{trabajador.first_name}}</td>
          <td>{{trabajador.last_name}}</td>
          <td>{{trabajador.email}}</td>
          {% if trabajador.is_active %}
            <td class="text-success"><b>Activo</b></td>
          {% else %}
            <td class="text-danger"><b>Inactivo</b></td>
          {% endif %}
          <td><a class="btn btn-outline-info" href="{% url 'detalle_trabajador' trabajador.id %}" role="button">Ver</a></td>
        </tr>
        
      {% endfor %}
      </tbody>
    </table>

</div>  

  {% endblock %}