{% extends 'base.html' %}

{% block contenido %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card card-body mt-2 shadow p-3 mb-5 bg-body rounded">
        <h4 class="card-title">Cliente: {{cliente.identificacion}}</h4>
        <h5>{{cliente.nombres|title}} {{cliente.apellidos|title}}</h5>
        <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-outline-info btn-sm btn-block">Actualizar Cliente</a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#eliminar_cliente" class="btn btn-outline-danger btn-sm btn-block">Eliminar Cliente</a>
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body mt-2 shadow p-3 mb-5 bg-body rounded">
        <h5 class="card-title">Información de Contacto</h5>
        <p>Email: {{cliente.email}}</p>
        <p>No. Teléfono: {{cliente.telefono_principal}}</p>
        {% if cliente.telefono_opcional %}
          <p>No Teléfono Opcional: {{cliente.telefono_opcional}}</p>
        {% endif %}
      </div>
    </div>
    <div class="col-md">
      <div class="card card-body mt-2 text-center shadow p-3 mb-5 bg-body rounded">
        <h5 class="card-title  text-success">Total Ordenes de Servicio</h5>
        <h1 class="text-center text-success">{{total_ordenes}}</h1>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <div class="card card-body ">
        <h4>Dispositivos Vinculados:  <b class="text-primary">{{dispositivos.count}}</b></h4>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <br>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Color</th>
              <th scope="col">Serial</th>
            </tr>
          </thead>
          <tbody>
            {% for dispositivo in dispositivos %}
              <tr>
                <th scope="row"><a href="{% url 'detalle_dispositivo' dispositivo.id %}">{{dispositivo.marca}}</a></th>
                <td>{{dispositivo.modelo_dispositivo}}</td>
                <td>{{dispositivo.color_dispositivo}}</td>
                <td>{{dispositivo.serial}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md">
      <dic class="card card-body">
        <h4>Ordenes de Servicio</h4>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <br>
              <th scope="col">#</th>
              <th scope="col">Dispositivo</th>
              <th scope="col">Fecha Ingreso</th>
              <th scope="col">Problema</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for servicio in servicios %}
              <tr>
                <th scope="row"><a href="{% url 'detalle_servicio' servicio.id %}">{{servicio.id}}</a></th>
                <td>{{servicio.dispositivo}}</td>
                <td>{{servicio.fecha_ingreso}}</td>
                <td>{{servicio.problema_frecuente}}</td>
                <td>{{servicio.estado_orden}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </dic>
    </div>
  </div>
</div>






<div class="modal" tabindex="-1" id='eliminar_cliente'>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title">Eliminar Cliente {{cliente.nombres|title}} {{cliente.apellidos|title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas seguro de eliminar el registro?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'eliminar_cliente' cliente.id %}" class="btn btn-danger">Eliminar</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>


   
{% endblock %}