{% extends 'base.html' %}

{% block contenido %}
<h1>Información Personal del Cliente</h1>

<h2>Id Cliente: {{cliente.id}}</h2>
<h2>No. Identificación: {{cliente.identificacion}}</h2>
<h2>Nombres: {{cliente.nombres}}</h2>
<h2>Apellidos: {{cliente.apellidos}}</h2>
<h2>Correo Electrónico: {{cliente.email}}</h2>
<h2>No. Teléfono: {{cliente.telefono_principal}}</h2>
<h2>No. Teléfono Alternativo: {{cliente.telefono_opcional}}</h2>
<h2>Estado Cliente: {{cliente.estado_cliente}}</h2>

<a class="btn btn-primary" href="{% url 'lista_clientes'%}" role="button">Lista Clientes</a>
<a class="btn btn-warning" href="#" role="button">Editar Cliente</a>
<a class="btn btn-danger" href="#" role="button">Eliminar Cliente</a>

{% endblock %}